Repository konfigyr/konfigyr-project: changes, and which Codecov flags are due for each by the changed paths.
All: API, Cryptography, Data, jOOQ Extensions, Namespaces, Security, Server, Test

Create namespaces (#22)
  konfigyr-api/src/main/java/com/konfigyr/account/Account.java
  konfigyr-api/src/main/java/com/konfigyr/account/AccountEvent.java
  konfigyr-api/src/main/java/com/konfigyr/account/AccountExistsException.java
  konfigyr-api/src/main/java/com/konfigyr/account/AccountManager.java
  konfigyr-api/src/main/java/com/konfigyr/account/AccountRegisteredEvent.java
  konfigyr-api/src/main/java/com/konfigyr/account/AccountRegistration.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/Namespace.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceDefinition.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceEvent.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceException.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceExistsException.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceManager.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceOwnerException.java
  konfigyr-api/src/main/java/com/konfigyr/slug/Slug.java
  konfigyr-api/src/test/java/com/konfigyr/account/AccountRegistrationTest.java
  konfigyr-api/src/test/java/com/konfigyr/account/AccountTest.java
  konfigyr-api/src/test/java/com/konfigyr/entity/EntityEventTest.java
  konfigyr-api/src/test/java/com/konfigyr/namespace/NamespaceTest.java
  konfigyr-data/src/main/java/com/konfigyr/jooq/SettableRecord.java
  konfigyr-data/src/test/java/com/konfigyr/jooq/SettableRecordTest.java
  konfigyr-namespace/src/main/java/com/konfigyr/account/DefaultAccountManager.java
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/DefaultNamespaceManager.java
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/NamespaceManagementAutoConfiguration.java
  konfigyr-namespace/src/test/java/com/konfigyr/account/AccountManagerTest.java
  konfigyr-namespace/src/test/java/com/konfigyr/namespace/NamespaceManagerTest.java
Due: API, Namespaces

JMolecules DDD support
  build.gradle
  gradle.properties
  konfigyr-api/build.gradle
  konfigyr-api/src/main/java/com/konfigyr/account/Account.java
  konfigyr-api/src/main/java/com/konfigyr/account/AccountEvent.java
  konfigyr-api/src/main/java/com/konfigyr/account/AccountManager.java
  konfigyr-api/src/main/java/com/konfigyr/account/AccountRegistration.java
  konfigyr-api/src/main/java/com/konfigyr/entity/EntityId.java
  konfigyr-api/src/main/java/com/konfigyr/entity/EntityIdFactory.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/Namespace.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceDefinition.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceEvent.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceManager.java
  konfigyr-api/src/main/java/com/konfigyr/slug/Slug.java
  konfigyr-api/src/test/java/com/konfigyr/account/AccountTest.java
  konfigyr-api/src/test/java/com/konfigyr/namespace/NamespaceTest.java
  konfigyr-namespace/src/main/java/com/konfigyr/account/DefaultAccountManager.java
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/DefaultNamespaceManager.java
  konfigyr-security/src/main/java/com/konfigyr/security/AccountPrincipal.java
  konfigyr-security/src/main/java/com/konfigyr/security/AccountPrincipalService.java
  konfigyr-security/src/main/java/com/konfigyr/security/PrincipalService.java
  konfigyr-security/src/test/java/com/konfigyr/security/AccountPrincipalTest.java
  konfigyr-security/src/test/java/com/konfigyr/security/oauth/OAuth2AuthorizedClientServiceTest.java
  konfigyr-security/src/test/java/com/konfigyr/security/oauth/OAuth2UserServiceTest.java
  konfigyr-security/src/test/java/com/konfigyr/security/rememberme/AccountRememberMeServicesTest.java
  konfigyr-test/build.gradle
Due: API, Namespaces, Security, Test

JMolecules DDD support (#24)
  build.gradle
  gradle.properties
  konfigyr-api/build.gradle
  konfigyr-api/src/main/java/com/konfigyr/account/Account.java
  konfigyr-api/src/main/java/com/konfigyr/account/AccountEvent.java
  konfigyr-api/src/main/java/com/konfigyr/account/AccountManager.java
  konfigyr-api/src/main/java/com/konfigyr/account/AccountRegistration.java
  konfigyr-api/src/main/java/com/konfigyr/entity/EntityId.java
  konfigyr-api/src/main/java/com/konfigyr/entity/EntityIdFactory.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/Namespace.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceDefinition.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceEvent.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceManager.java
  konfigyr-api/src/main/java/com/konfigyr/slug/Slug.java
  konfigyr-api/src/test/java/com/konfigyr/account/AccountTest.java
  konfigyr-api/src/test/java/com/konfigyr/namespace/NamespaceTest.java
  konfigyr-namespace/src/main/java/com/konfigyr/account/DefaultAccountManager.java
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/DefaultNamespaceManager.java
  konfigyr-security/src/main/java/com/konfigyr/security/AccountPrincipal.java
  konfigyr-security/src/main/java/com/konfigyr/security/AccountPrincipalService.java
  konfigyr-security/src/main/java/com/konfigyr/security/PrincipalService.java
  konfigyr-security/src/test/java/com/konfigyr/security/AccountPrincipalTest.java
  konfigyr-security/src/test/java/com/konfigyr/security/oauth/OAuth2AuthorizedClientServiceTest.java
  konfigyr-security/src/test/java/com/konfigyr/security/oauth/OAuth2UserServiceTest.java
  konfigyr-security/src/test/java/com/konfigyr/security/rememberme/AccountRememberMeServicesTest.java
  konfigyr-test/build.gradle
Due: API, Namespaces, Security, Test

Introduction of Namespace Members and removing the owners column
  konfigyr-api/src/main/java/com/konfigyr/namespace/Member.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/Namespace.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceManager.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceRole.java
  konfigyr-api/src/test/java/com/konfigyr/namespace/NamespaceTest.java
  konfigyr-data/src/main/resources/migrations/changelogs/changelog-1.0.0.xml
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/DefaultNamespaceManager.java
  konfigyr-namespace/src/test/java/com/konfigyr/namespace/NamespaceManagerTest.java
  konfigyr-test/src/main/resources/data/namespaces.sql
Due: API, Namespaces, Test

Use internal identifier to fetch created member
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/DefaultNamespaceManager.java
Due: Namespaces

Fix checkstyle
  konfigyr-api/src/main/java/com/konfigyr/namespace/Member.java
  konfigyr-data/src/main/resources/migrations/changelogs/changelog-1.0.0.xml
Due: API

Update Codecov settings
  codecov.yml
Due: none

Introduction of Namespace Members and removing the owners column (#25)
  codecov.yml
  konfigyr-api/src/main/java/com/konfigyr/namespace/Member.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/Namespace.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceManager.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceRole.java
  konfigyr-api/src/test/java/com/konfigyr/namespace/NamespaceTest.java
  konfigyr-data/src/main/resources/migrations/changelogs/changelog-1.0.0.xml
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/DefaultNamespaceManager.java
  konfigyr-namespace/src/test/java/com/konfigyr/namespace/NamespaceManagerTest.java
  konfigyr-test/src/main/resources/data/namespaces.sql
Due: API, Namespaces, Test

Account memberships
  konfigyr-api/src/main/java/com/konfigyr/account/Account.java
  konfigyr-api/src/main/java/com/konfigyr/account/AccountManager.java
  konfigyr-api/src/main/java/com/konfigyr/account/AccountNotFoundException.java
  konfigyr-api/src/main/java/com/konfigyr/account/Membership.java
  konfigyr-api/src/main/java/com/konfigyr/account/Memberships.java
  konfigyr-api/src/test/java/com/konfigyr/account/AccountTest.java
  konfigyr-namespace/src/main/java/com/konfigyr/account/AccountMapper.java
  konfigyr-namespace/src/main/java/com/konfigyr/account/DefaultAccountManager.java
  konfigyr-namespace/src/test/java/com/konfigyr/account/AccountManagerTest.java
  konfigyr-security/src/main/java/com/konfigyr/security/rememberme/AccountRememberMeServices.java
  konfigyr-security/src/test/java/com/konfigyr/security/rememberme/AccountRememberMeServicesTest.java
Due: API, Namespaces, Security

Fix tests and dependency cycles
  konfigyr-api/src/main/java/com/konfigyr/account/Account.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/Member.java
  konfigyr-security/src/test/java/com/konfigyr/security/rememberme/AccountRememberMeServicesTest.java
Due: API, Security

Bump spring version
  gradle.properties
Due: none

Disalble Javadoc warnings
  build.gradle
Due: none

Add Google Findsbugs JSR-305
  build.gradle
Due: none

Fix test coverage
  konfigyr-api/src/test/java/com/konfigyr/account/AccountTest.java
Due: API

Fix test
  konfigyr-api/src/test/java/com/konfigyr/account/AccountTest.java
Due: API

Account memberships (#26)
  build.gradle
  konfigyr-api/src/main/java/com/konfigyr/account/Account.java
  konfigyr-api/src/main/java/com/konfigyr/account/AccountManager.java
  konfigyr-api/src/main/java/com/konfigyr/account/AccountNotFoundException.java
  konfigyr-api/src/main/java/com/konfigyr/account/Membership.java
  konfigyr-api/src/main/java/com/konfigyr/account/Memberships.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/Member.java
  konfigyr-api/src/test/java/com/konfigyr/account/AccountTest.java
  konfigyr-namespace/src/main/java/com/konfigyr/account/AccountMapper.java
  konfigyr-namespace/src/main/java/com/konfigyr/account/DefaultAccountManager.java
  konfigyr-namespace/src/test/java/com/konfigyr/account/AccountManagerTest.java
  konfigyr-security/src/main/java/com/konfigyr/security/rememberme/AccountRememberMeServices.java
  konfigyr-security/src/test/java/com/konfigyr/security/rememberme/AccountRememberMeServicesTest.java
Due: API, Namespaces, Security

Account settings controller that performs account update and delete operations
  konfigyr-api/build.gradle
  konfigyr-api/src/main/java/com/konfigyr/account/Account.java
  konfigyr-api/src/main/java/com/konfigyr/account/AccountEvent.java
  konfigyr-api/src/main/java/com/konfigyr/account/AccountManager.java
  konfigyr-api/src/main/java/com/konfigyr/account/Memberships.java
  konfigyr-api/src/main/java/com/konfigyr/security/AccountPrincipal.java
  konfigyr-api/src/main/java/com/konfigyr/security/PrincipalService.java
  konfigyr-api/src/test/java/com/konfigyr/account/AccountTest.java
  konfigyr-api/src/test/java/com/konfigyr/security/AccountPrincipalTest.java
  konfigyr-namespace/build.gradle
  konfigyr-namespace/src/main/java/com/konfigyr/account/DefaultAccountManager.java
  konfigyr-namespace/src/main/java/com/konfigyr/account/settings/AccountSettingsController.java
  konfigyr-namespace/src/main/java/com/konfigyr/account/settings/AccountSettingsForm.java
  konfigyr-namespace/src/test/java/com/konfigyr/NamespaceTestConfiguration.java
  konfigyr-namespace/src/test/java/com/konfigyr/account/AccountManagerTest.java
  konfigyr-namespace/src/test/java/com/konfigyr/account/settings/AccountSettingsTest.java
  konfigyr-test/build.gradle
  konfigyr-test/src/main/java/com/konfigyr/test/TestPrincipals.java
Due: API, Namespaces, Test

Fix checkstyle and exclude security and test packages from modulith detection
  konfigyr-api/src/main/java/com/konfigyr/account/AccountManager.java
  konfigyr-namespace/src/test/java/com/konfigyr/account/settings/AccountSettingsTest.java
  konfigyr-server/src/test/java/com/konfigyr/KonfigyrServerModulesTest.java
  konfigyr-test/src/main/java/com/konfigyr/KonfigyrApplicationModuleDetectionStrategy.java
Due: API, Namespaces, Server, Test

Use `@Modulith` annotation on app type
  konfigyr-server/src/main/java/com/konfigyr/KonfigyrApplication.java
  konfigyr-server/src/test/java/com/konfigyr/KonfigyrServerModulesTest.java
Due: Server

Membership join method test
  konfigyr-api/src/test/java/com/konfigyr/account/AccountTest.java
Due: API

Account settings controller that performs account update and delete operations (#30)
  konfigyr-api/build.gradle
  konfigyr-api/src/main/java/com/konfigyr/account/Account.java
  konfigyr-api/src/main/java/com/konfigyr/account/AccountEvent.java
  konfigyr-api/src/main/java/com/konfigyr/account/AccountManager.java
  konfigyr-api/src/main/java/com/konfigyr/account/Memberships.java
  konfigyr-api/src/main/java/com/konfigyr/security/AccountPrincipal.java
  konfigyr-api/src/main/java/com/konfigyr/security/PrincipalService.java
  konfigyr-api/src/test/java/com/konfigyr/account/AccountTest.java
  konfigyr-api/src/test/java/com/konfigyr/security/AccountPrincipalTest.java
  konfigyr-namespace/build.gradle
  konfigyr-namespace/src/main/java/com/konfigyr/account/DefaultAccountManager.java
  konfigyr-namespace/src/main/java/com/konfigyr/account/settings/AccountSettingsController.java
  konfigyr-namespace/src/main/java/com/konfigyr/account/settings/AccountSettingsForm.java
  konfigyr-namespace/src/test/java/com/konfigyr/NamespaceTestConfiguration.java
  konfigyr-namespace/src/test/java/com/konfigyr/account/AccountManagerTest.java
  konfigyr-namespace/src/test/java/com/konfigyr/account/settings/AccountSettingsTest.java
  konfigyr-server/src/main/java/com/konfigyr/KonfigyrApplication.java
  konfigyr-test/build.gradle
  konfigyr-test/src/main/java/com/konfigyr/KonfigyrApplicationModuleDetectionStrategy.java
  konfigyr-test/src/main/java/com/konfigyr/test/TestPrincipals.java
Due: API, Namespaces, Server, Test

Clear user cache on account updated and delete event
  konfigyr-namespace/src/main/java/com/konfigyr/account/DefaultAccountManager.java
  konfigyr-security/src/main/java/com/konfigyr/security/AccountPrincipalService.java
  konfigyr-security/src/test/java/com/konfigyr/security/AccountPrincipalServiceTest.java
Due: Namespaces, Security

Clear user cache on account updated and delete event (#31)
  konfigyr-namespace/src/main/java/com/konfigyr/account/DefaultAccountManager.java
  konfigyr-security/src/main/java/com/konfigyr/security/AccountPrincipalService.java
  konfigyr-security/src/test/java/com/konfigyr/security/AccountPrincipalServiceTest.java
Due: Namespaces, Security

Account profile settings page
  konfigyr-data/src/main/resources/migrations/changelogs/changelog-1.0.0.xml
  konfigyr-namespace/src/main/java/com/konfigyr/account/AccountMapper.java
  konfigyr-namespace/src/main/java/com/konfigyr/account/DefaultAccountManager.java
  konfigyr-security/src/main/java/com/konfigyr/security/AccountPrincipalService.java
  konfigyr-security/src/test/java/com/konfigyr/security/AccountPrincipalServiceTest.java
  konfigyr-server/build.gradle
  konfigyr-server/src/main/assets/styles/_styles.scss
  konfigyr-server/src/main/assets/styles/components/_avatar.scss
  konfigyr-server/src/main/assets/styles/components/_badge.scss
  konfigyr-server/src/main/assets/styles/components/_empty-state.scss
  konfigyr-server/src/main/assets/styles/components/_heading.scss
  konfigyr-server/src/main/assets/styles/components/_nav.scss
  konfigyr-server/src/main/assets/styles/konfigyr.scss
  konfigyr-server/src/main/assets/styles/themes/_light.scss
  konfigyr-server/src/main/java/com/konfigyr/security/WebSecurityConfiguration.java
  konfigyr-server/src/main/resources/messages/konfigyr.properties
  konfigyr-server/src/main/resources/templates/accounts/layout.html
  konfigyr-server/src/main/resources/templates/accounts/profile.html
  konfigyr-server/src/main/resources/templates/fragments/avatar.html
  konfigyr-server/src/main/resources/templates/fragments/empty-state.html
  konfigyr-server/src/test/java/com/konfigyr/security/SecurityIntegrationTest.java
Due: Namespaces, Security, Server

Include resources in the build
  konfigyr-server/build.gradle
  konfigyr-server/src/main/resources/templates/accounts/profile.html
Due: Server

Account profile settings page (#32)
  konfigyr-data/src/main/resources/migrations/changelogs/changelog-1.0.0.xml
  konfigyr-namespace/src/main/java/com/konfigyr/account/AccountMapper.java
  konfigyr-namespace/src/main/java/com/konfigyr/account/DefaultAccountManager.java
  konfigyr-security/src/main/java/com/konfigyr/security/AccountPrincipalService.java
  konfigyr-security/src/test/java/com/konfigyr/security/AccountPrincipalServiceTest.java
  konfigyr-server/src/main/assets/styles/_styles.scss
  konfigyr-server/src/main/assets/styles/components/_avatar.scss
  konfigyr-server/src/main/assets/styles/components/_badge.scss
  konfigyr-server/src/main/assets/styles/components/_empty-state.scss
  konfigyr-server/src/main/assets/styles/components/_heading.scss
  konfigyr-server/src/main/assets/styles/components/_nav.scss
  konfigyr-server/src/main/assets/styles/konfigyr.scss
  konfigyr-server/src/main/assets/styles/themes/_light.scss
  konfigyr-server/src/main/java/com/konfigyr/security/WebSecurityConfiguration.java
  konfigyr-server/src/main/resources/messages/konfigyr.properties
  konfigyr-server/src/main/resources/templates/accounts/layout.html
  konfigyr-server/src/main/resources/templates/accounts/profile.html
  konfigyr-server/src/main/resources/templates/fragments/avatar.html
  konfigyr-server/src/main/resources/templates/fragments/empty-state.html
  konfigyr-server/src/test/java/com/konfigyr/security/SecurityIntegrationTest.java
Due: Namespaces, Security, Server

Account provisioning
  konfigyr-api/src/main/java/com/konfigyr/account/AccountNotFoundException.java
  konfigyr-api/src/main/java/com/konfigyr/account/Memberships.java
  konfigyr-namespace/src/main/java/com/konfigyr/account/settings/AccountSettingsForm.java
  konfigyr-security/src/main/java/com/konfigyr/security/provision/ProvisioningRedirectFilter.java
  konfigyr-security/src/test/java/com/konfigyr/security/provision/ProvisioningRedirectFilterTest.java
Due: API, Namespaces, Security

Provisioning required exception flow, `support` package added
  konfigyr-api/src/main/java/com/konfigyr/account/AccountRegistration.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceDefinition.java
  konfigyr-api/src/main/java/com/konfigyr/security/PrincipalService.java
  konfigyr-api/src/main/java/com/konfigyr/security/provisioning/ProvisioningHints.java
  konfigyr-api/src/main/java/com/konfigyr/security/provisioning/ProvisioningRequiredException.java
  konfigyr-api/src/main/java/com/konfigyr/support/FullName.java
  konfigyr-api/src/main/java/com/konfigyr/support/Slug.java
  konfigyr-api/src/test/java/com/konfigyr/account/AccountTest.java
  konfigyr-api/src/test/java/com/konfigyr/namespace/NamespaceTest.java
  konfigyr-api/src/test/java/com/konfigyr/security/provisioning/ProvisioningHintsTest.java
  konfigyr-api/src/test/java/com/konfigyr/support/FullNameTest.java
  konfigyr-api/src/test/java/com/konfigyr/support/SlugTest.java
  konfigyr-security/src/main/java/com/konfigyr/security/AccountPrincipalService.java
  konfigyr-security/src/main/java/com/konfigyr/security/authentication/AuthenticationFailureHandlerBuilder.java
  konfigyr-security/src/main/java/com/konfigyr/security/oauth/OAuth2UserConverters.java
  konfigyr-security/src/main/java/com/konfigyr/security/oauth/PrincipalAccountOAuth2UserService.java
  konfigyr-security/src/main/java/com/konfigyr/security/provision/ProvisioningRedirectFilter.java
  konfigyr-security/src/test/java/com/konfigyr/security/authentication/AuthenticationFailureHandlerBuilderTest.java
  konfigyr-security/src/test/java/com/konfigyr/security/oauth/OAuth2UserConvertersTest.java
  konfigyr-security/src/test/java/com/konfigyr/security/oauth/OAuth2UserServiceTest.java
  konfigyr-security/src/test/java/com/konfigyr/security/provision/ProvisioningRedirectFilterTest.java
Due: API, Security

Frontend Form support and JS DOM test setup
  konfigyr-server/jest.config.js
  konfigyr-server/jest.config.json
  konfigyr-server/package-lock.json
  konfigyr-server/package.json
  konfigyr-server/src/main/assets/scripts/aria/live.js
  konfigyr-server/src/main/assets/scripts/forms/auto-check.js
  konfigyr-server/src/main/assets/scripts/forms/index.js
  konfigyr-server/src/main/assets/scripts/forms/submit-button.js
  konfigyr-server/src/main/assets/scripts/main.js
  konfigyr-server/src/main/assets/styles/_styles.scss
  konfigyr-server/src/main/assets/styles/forms/_basics.scss
  konfigyr-server/src/main/assets/styles/utilities/_miscs.scss
  konfigyr-server/src/main/assets/test/aria/live.test.js
  konfigyr-server/src/main/assets/test/forms/auto-check.test.js
  konfigyr-server/src/main/assets/test/forms/submit-button.test.js
  konfigyr-server/src/main/assets/test/setup.js
Due: Server

Setup node GH action
  .github/workflows/pr.yml
Due: none

Disable JS for tests
  konfigyr-server/src/test/java/com/konfigyr/security/SecurityIntegrationTest.java
Due: Server

Replace `jest` with `vitest`
  konfigyr-server/.eslintrc.cjs
  konfigyr-server/.eslintrc.json
  konfigyr-server/jest.config.js
  konfigyr-server/package-lock.json
  konfigyr-server/package.json
  konfigyr-server/src/main/assets/test/aria/live.test.js
  konfigyr-server/src/main/assets/test/forms/auto-check.test.js
  konfigyr-server/src/main/assets/test/forms/submit-button.test.js
  konfigyr-server/src/main/assets/test/setup.js
  konfigyr-server/vitest.config.js
Due: Server

Update `ProvisioningRedirectFilter`
  konfigyr-security/src/main/java/com/konfigyr/security/provision/ProvisioningRedirectFilter.java
  konfigyr-security/src/test/java/com/konfigyr/security/provision/ProvisioningRedirectFilterTest.java
Due: Security

Final touche to provisioning filters and pages
  konfigyr-api/src/main/java/com/konfigyr/account/AccountStatus.java
  konfigyr-api/src/main/java/com/konfigyr/security/PrincipalService.java
  konfigyr-api/src/test/java/com/konfigyr/account/AccountTest.java
  konfigyr-namespace/src/main/java/com/konfigyr/account/DefaultAccountManager.java
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/NamespaceController.java
  konfigyr-namespace/src/test/java/com/konfigyr/account/AccountManagerTest.java
  konfigyr-security/build.gradle
  konfigyr-security/src/main/java/com/konfigyr/security/provision/Provisioner.java
  konfigyr-security/src/main/java/com/konfigyr/security/provision/ProvisioningAuthenticationFilter.java
  konfigyr-security/src/main/java/com/konfigyr/security/provision/ProvisioningConfigurer.java
  konfigyr-security/src/main/java/com/konfigyr/security/provision/ProvisioningController.java
  konfigyr-security/src/main/java/com/konfigyr/security/provision/ProvisioningForm.java
  konfigyr-security/src/main/java/com/konfigyr/security/provision/ProvisioningRedirectFilter.java
  konfigyr-security/src/test/java/com/konfigyr/security/AccountPrincipalServiceTest.java
  konfigyr-security/src/test/java/com/konfigyr/security/SecurityTestConfiguration.java
  konfigyr-security/src/test/java/com/konfigyr/security/provision/ProvisioningAuthenticationFilterTest.java
  konfigyr-security/src/test/java/com/konfigyr/security/provision/ProvisioningConfigurerTest.java
  konfigyr-security/src/test/java/com/konfigyr/security/provision/ProvisioningIntegrationTest.java
  konfigyr-security/src/test/java/com/konfigyr/security/provision/ProvisioningRedirectFilterTest.java
  konfigyr-server/src/main/assets/styles/components/_hero.scss
  konfigyr-server/src/main/assets/styles/content/_typography.scss
  konfigyr-server/src/main/assets/styles/konfigyr.scss
  konfigyr-server/src/main/java/com/konfigyr/security/SecurityController.java
  konfigyr-server/src/main/java/com/konfigyr/security/SecurityRequestMatchers.java
  konfigyr-server/src/main/java/com/konfigyr/security/WebSecurityConfiguration.java
  konfigyr-server/src/main/java/com/konfigyr/web/WebMvcConfiguration.java
  konfigyr-server/src/main/resources/application.yml
  konfigyr-server/src/main/resources/messages/konfigyr.properties
  konfigyr-server/src/main/resources/templates/accounts/provision.html
  konfigyr-server/src/main/resources/templates/fragments/forms.html
  konfigyr-server/src/main/resources/templates/layout/layout.html
  konfigyr-server/src/main/resources/templates/namespaces/check-name.html
  konfigyr-test/build.gradle
  konfigyr-test/src/main/java/com/konfigyr/config/SpringTestContext.java
  konfigyr-test/src/main/java/com/konfigyr/config/SpringTestContextExtension.java
  konfigyr-test/src/main/java/com/konfigyr/test/TestAccounts.java
  konfigyr-test/src/main/resources/data/users.sql
  konfigyr-test/src/test/java/com/konfigyr/config/SpringTestContextTest.java
Due: API, Namespaces, Security, Server, Test

Fix tests and checkstyle errors
  konfigyr-api/src/test/java/com/konfigyr/account/AccountTest.java
  konfigyr-api/src/test/java/com/konfigyr/security/AccountPrincipalTest.java
  konfigyr-security/src/main/java/com/konfigyr/security/provision/ProvisioningConfigurer.java
  konfigyr-server/src/main/java/com/konfigyr/web/WebMvcConfiguration.java
  konfigyr-test/src/main/java/com/konfigyr/config/SpringTestContextExtension.java
Due: API, Security, Server, Test

Fix tests
  konfigyr-security/src/test/java/com/konfigyr/security/AccountPrincipalServiceTest.java
Due: Security

Namespace controller tests
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/NamespaceController.java
  konfigyr-namespace/src/test/java/com/konfigyr/namespace/NamespaceControllerTest.java
Due: Namespaces

Added missing and invalid CSRF test scenarios
  konfigyr-namespace/src/test/java/com/konfigyr/namespace/NamespaceControllerTest.java
Due: Namespaces

Bump Spring dependencies
  gradle.properties
Due: none

Path conditions:
  API: any of: konfigyr-api/**
  Cryptography: any of: konfigyr-cryptography/**
  Data: any of: konfigyr-cryptography/**
  jOOQ Extensions: any of: konfigyr-jooq-extensions/**
  Namespaces: any of: konfigyr-namespace/**
  Security: any of: konfigyr-security/**
  Server: any of: konfigyr-server/**
  Test: any of: konfigyr-test/**
