Repository konfigyr/konfigyr-project: changes, and which Codecov flags are due for each by the changed paths.
All: API, Cryptography, Data, jOOQ Extensions, Namespaces, Security, Server, Test

codecov.yml:

coverage:
  round: nearest
  status:
    # Commits pushed to main should not make the overall project coverage decrease by more than 2%
    project:
      default:
        target: auto
        threshold: 2%
    # Be more lenient when with coverage thresholds for PRs
    patch:
      default:
        target: auto
        threshold: 5%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: konfigyr-api
      name: API
      paths:
        - konfigyr-api/**
    - component_id: konfigyr-cryptography
      name: Cryptography
      paths:
        - konfigyr-cryptography/**
    - component_id: konfigyr-data
      name: Data
      paths:
        - konfigyr-cryptography/**
    - component_id: konfigyr-jooq
      name: jOOQ Extensions
      paths:
        - konfigyr-jooq-extensions/**
    - component_id: konfigyr-namespace
      name: Namespaces
      paths:
        - konfigyr-namespace/**
    - component_id: konfigyr-security
      name: Security
      paths:
        - konfigyr-security/**
    - component_id: konfigyr-server
      name: Server
      paths:
        - konfigyr-server/**
    - component_id: konfigyr-test
      name: Test
      paths:
        - konfigyr-test/**

Welcome email
  build.gradle
  konfigyr-namespace/build.gradle
  konfigyr-namespace/src/main/java/com/konfigyr/account/AccountEventListener.java
  konfigyr-namespace/src/main/java/com/konfigyr/account/AccountManagementAutoConfiguration.java
  konfigyr-namespace/src/test/java/com/konfigyr/account/AccountEventListenerTest.java
  konfigyr-server/build.gradle
  konfigyr-server/src/main/resources/application.yml
  konfigyr-server/src/main/resources/messages/mail.properties
  konfigyr-server/src/main/resources/templates/layout/mail.html
  konfigyr-server/src/main/resources/templates/mail/welcome.html
Due: Namespaces, Server

Fix tests
  konfigyr-namespace/src/test/java/com/konfigyr/account/AccountEventListenerTest.java
  konfigyr-security/build.gradle
Due: Namespaces, Security

Welcome email (#41)
  build.gradle
  konfigyr-namespace/build.gradle
  konfigyr-namespace/src/main/java/com/konfigyr/account/AccountEventListener.java
  konfigyr-namespace/src/main/java/com/konfigyr/account/AccountManagementAutoConfiguration.java
  konfigyr-namespace/src/test/java/com/konfigyr/account/AccountEventListenerTest.java
  konfigyr-security/build.gradle
  konfigyr-server/build.gradle
  konfigyr-server/src/main/resources/application.yml
  konfigyr-server/src/main/resources/messages/mail.properties
  konfigyr-server/src/main/resources/templates/layout/mail.html
  konfigyr-server/src/main/resources/templates/mail/welcome.html
Due: Namespaces, Security, Server

Bump Spring versions
  gradle.properties
Due: none

Bump guava and checkstyle
  build.gradle
Due: none

Fix tests
  konfigyr-api/src/main/java/com/konfigyr/support/Slug.java
Due: API

Namespace details page
  konfigyr-api/src/main/java/com/konfigyr/namespace/Namespace.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceNotFoundException.java
  konfigyr-api/src/main/java/com/konfigyr/security/AccountPrincipal.java
  konfigyr-api/src/test/java/com/konfigyr/security/AccountPrincipalTest.java
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/DefaultNamespaceManager.java
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/NamespaceController.java
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/NamespaceManagementAutoConfiguration.java
  konfigyr-namespace/src/test/java/com/konfigyr/namespace/NamespaceControllerTest.java
  konfigyr-security/src/test/java/com/konfigyr/security/oauth/OAuth2UserServiceTest.java
  konfigyr-server/src/main/assets/styles/_styles.scss
  konfigyr-server/src/main/assets/styles/components/_dropdown.scss
  konfigyr-server/src/main/assets/styles/components/_heading.scss
  konfigyr-server/src/main/assets/styles/components/_nav.scss
  konfigyr-server/src/main/assets/styles/content/_button.scss
  konfigyr-server/src/main/assets/styles/themes/_light.scss
  konfigyr-server/src/main/assets/styles/utilities/_miscs.scss
  konfigyr-server/src/main/resources/application.yml
  konfigyr-server/src/main/resources/messages/konfigyr.properties
  konfigyr-server/src/main/resources/templates/accounts/layout.html
  konfigyr-server/src/main/resources/templates/accounts/provision.html
  konfigyr-server/src/main/resources/templates/fragments/heading.html
  konfigyr-server/src/main/resources/templates/index.html
  konfigyr-server/src/main/resources/templates/layout/header.html
  konfigyr-server/src/main/resources/templates/layout/layout.html
  konfigyr-server/src/main/resources/templates/login.html
  konfigyr-server/src/main/resources/templates/namespaces/details.html
  konfigyr-server/src/main/resources/templates/namespaces/header.html
  konfigyr-test/src/main/java/com/konfigyr/assertions/AssertMatcher.java
  konfigyr-test/src/test/java/com/konfigyr/assertions/AssertMatcherTest.java
Due: API, Namespaces, Security, Server, Test

add tests
  konfigyr-api/src/test/java/com/konfigyr/namespace/NamespaceTest.java
Due: API

Namespace details page (#58)
  konfigyr-api/src/main/java/com/konfigyr/namespace/Namespace.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceNotFoundException.java
  konfigyr-api/src/main/java/com/konfigyr/security/AccountPrincipal.java
  konfigyr-api/src/test/java/com/konfigyr/namespace/NamespaceTest.java
  konfigyr-api/src/test/java/com/konfigyr/security/AccountPrincipalTest.java
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/DefaultNamespaceManager.java
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/NamespaceController.java
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/NamespaceManagementAutoConfiguration.java
  konfigyr-namespace/src/test/java/com/konfigyr/namespace/NamespaceControllerTest.java
  konfigyr-security/src/test/java/com/konfigyr/security/oauth/OAuth2UserServiceTest.java
  konfigyr-server/src/main/assets/styles/_styles.scss
  konfigyr-server/src/main/assets/styles/components/_dropdown.scss
  konfigyr-server/src/main/assets/styles/components/_heading.scss
  konfigyr-server/src/main/assets/styles/components/_nav.scss
  konfigyr-server/src/main/assets/styles/content/_button.scss
  konfigyr-server/src/main/assets/styles/themes/_light.scss
  konfigyr-server/src/main/assets/styles/utilities/_miscs.scss
  konfigyr-server/src/main/resources/application.yml
  konfigyr-server/src/main/resources/messages/konfigyr.properties
  konfigyr-server/src/main/resources/templates/accounts/layout.html
  konfigyr-server/src/main/resources/templates/accounts/provision.html
  konfigyr-server/src/main/resources/templates/fragments/heading.html
  konfigyr-server/src/main/resources/templates/index.html
  konfigyr-server/src/main/resources/templates/layout/header.html
  konfigyr-server/src/main/resources/templates/layout/layout.html
  konfigyr-server/src/main/resources/templates/login.html
  konfigyr-server/src/main/resources/templates/namespaces/details.html
  konfigyr-server/src/main/resources/templates/namespaces/header.html
  konfigyr-test/src/main/java/com/konfigyr/assertions/AssertMatcher.java
  konfigyr-test/src/test/java/com/konfigyr/assertions/AssertMatcherTest.java
Due: API, Namespaces, Security, Server, Test

Spring JDBC backed sessions
  konfigyr-api/src/main/java/com/konfigyr/account/Memberships.java
  konfigyr-data/src/main/resources/migrations/changelogs/changelog-1.0.0.xml
  konfigyr-server/build.gradle
  konfigyr-server/src/main/java/com/konfigyr/KonfigyrApplication.java
Due: API, Server

Spring JDBC sessions (#60)
  konfigyr-api/src/main/java/com/konfigyr/account/Memberships.java
  konfigyr-data/src/main/resources/migrations/changelogs/changelog-1.0.0.xml
  konfigyr-server/build.gradle
  konfigyr-server/src/main/java/com/konfigyr/KonfigyrApplication.java
Due: API, Server

Konfigyr Registry module
  codecov.yml
  konfigyr-api/src/main/java/com/konfigyr/support/SearchQuery.java
  konfigyr-data/src/main/resources/migrations/changelogs/changelog-1.0.0.xml
  konfigyr-registry/build.gradle
  konfigyr-registry/src/main/java/com/konfigyr/registry/Artifactory.java
  konfigyr-registry/src/main/java/com/konfigyr/registry/ArtifactorySearchQuery.java
  konfigyr-registry/src/main/java/com/konfigyr/registry/DefaultArtifactory.java
  konfigyr-registry/src/main/java/com/konfigyr/registry/Repository.java
  konfigyr-registry/src/test/java/com/konfigyr/registry/ArtifactoryTest.java
  konfigyr-registry/src/test/java/com/konfigyr/registry/RegistryTestConfiguration.java
  konfigyr-registry/src/test/java/com/konfigyr/registry/RepositoryTest.java
  konfigyr-registry/src/test/resources/application.yml
  konfigyr-server/build.gradle
  konfigyr-server/src/main/assets/styles/_styles.scss
  konfigyr-server/src/main/assets/styles/utilities/_miscs.scss
  konfigyr-server/src/main/java/com/konfigyr/namespace/NamespaceController.java
  konfigyr-server/src/main/java/com/konfigyr/security/WebSecurityConfiguration.java
  konfigyr-server/src/main/resources/templates/namespaces/details.html
  konfigyr-server/src/test/java/com/konfigyr/namespace/NamespaceControllerTest.java
  konfigyr-test/src/main/resources/data/registry.sql
  konfigyr-test/src/main/resources/test-changelog.xml
  settings.gradle
Due: API, Server, Test

Fix checkstyle errors
  konfigyr-data/src/main/resources/migrations/changelogs/changelog-1.0.0.xml
Due: none

Fix cyclic dependency between modules
  konfigyr-api/src/main/java/com/konfigyr/account/AccountManager.java
  konfigyr-registry/src/main/java/com/konfigyr/registry/Repository.java
Due: API

Konfigyr Registry module (#61)
  codecov.yml
  konfigyr-api/src/main/java/com/konfigyr/account/AccountManager.java
  konfigyr-api/src/main/java/com/konfigyr/support/SearchQuery.java
  konfigyr-data/src/main/resources/migrations/changelogs/changelog-1.0.0.xml
  konfigyr-registry/build.gradle
  konfigyr-registry/src/main/java/com/konfigyr/registry/Artifactory.java
  konfigyr-registry/src/main/java/com/konfigyr/registry/ArtifactorySearchQuery.java
  konfigyr-registry/src/main/java/com/konfigyr/registry/DefaultArtifactory.java
  konfigyr-registry/src/main/java/com/konfigyr/registry/Repository.java
  konfigyr-registry/src/test/java/com/konfigyr/registry/ArtifactoryTest.java
  konfigyr-registry/src/test/java/com/konfigyr/registry/RegistryTestConfiguration.java
  konfigyr-registry/src/test/java/com/konfigyr/registry/RepositoryTest.java
  konfigyr-registry/src/test/resources/application.yml
  konfigyr-server/build.gradle
  konfigyr-server/src/main/assets/styles/_styles.scss
  konfigyr-server/src/main/assets/styles/utilities/_miscs.scss
  konfigyr-server/src/main/java/com/konfigyr/namespace/NamespaceController.java
  konfigyr-server/src/main/java/com/konfigyr/security/WebSecurityConfiguration.java
  konfigyr-server/src/main/resources/templates/namespaces/details.html
  konfigyr-server/src/test/java/com/konfigyr/namespace/NamespaceControllerTest.java
  konfigyr-test/src/main/resources/data/registry.sql
  konfigyr-test/src/main/resources/test-changelog.xml
  settings.gradle
Due: API, Server, Test

Invitations and Member management
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceManager.java
  konfigyr-api/src/main/java/com/konfigyr/support/KeyGenerator.java
  konfigyr-api/src/test/java/com/konfigyr/support/KeyGeneratorTest.java
  konfigyr-data/src/main/resources/migrations/changelogs/changelog-1.0.0.xml
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/DefaultInvitations.java
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/DefaultNamespaceManager.java
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/Invitation.java
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/InvitationException.java
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/Invitations.java
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/Invite.java
  konfigyr-namespace/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  konfigyr-namespace/src/test/java/com/konfigyr/namespace/InvitationsTest.java
  konfigyr-namespace/src/test/java/com/konfigyr/namespace/NamespaceManagerTest.java
  konfigyr-namespace/src/test/resources/application.yml
  konfigyr-namespace/src/test/resources/data/invitations.sql
  konfigyr-namespace/src/test/resources/namespace-test-changelog.xml
  konfigyr-server/src/main/assets/scripts/dialog/index.js
  konfigyr-server/src/main/assets/scripts/main.js
  konfigyr-server/src/main/assets/scripts/notifications/index.js
  konfigyr-server/src/main/assets/styles/_styles.scss
  konfigyr-server/src/main/assets/styles/components/_card.scss
  konfigyr-server/src/main/assets/styles/components/_modal.scss
  konfigyr-server/src/main/assets/styles/components/_notifications.scss
  konfigyr-server/src/main/assets/styles/content/_button.scss
  konfigyr-server/src/main/assets/styles/konfigyr.scss
  konfigyr-server/src/main/assets/styles/themes/_light.scss
  konfigyr-server/src/main/assets/styles/utilities/_miscs.scss
  konfigyr-server/src/main/java/com/konfigyr/namespace/NamespaceController.java
  konfigyr-server/src/main/resources/messages/konfigyr.properties
  konfigyr-server/src/main/resources/templates/layout/layout.html
  konfigyr-server/src/main/resources/templates/namespaces/invitation.html
  konfigyr-server/src/main/resources/templates/namespaces/invitations.html
  konfigyr-server/src/main/resources/templates/namespaces/members.html
Due: API, Namespaces, Server

Fix ES lints and added tests
  konfigyr-server/src/main/assets/scripts/dialog/index.js
  konfigyr-server/src/main/assets/scripts/notifications/index.js
  konfigyr-server/src/main/assets/test/dialog/index.test.js
  konfigyr-server/src/main/assets/test/notifications/index.test.js
Due: Server

Fix tests
  konfigyr-security/src/test/java/com/konfigyr/security/provision/ProvisioningIntegrationTest.java
  konfigyr-security/src/test/resources/application.yml
Due: Security

remove the console log
  konfigyr-server/src/main/assets/scripts/notifications/index.js
Due: Server

Namespace controller missing tests added
  konfigyr-server/src/test/java/com/konfigyr/namespace/NamespaceControllerTest.java
  konfigyr-server/src/test/resources/application-test.yml
Due: Server

Check for disabled or invalid modal triggers
  konfigyr-server/src/main/assets/test/dialog/index.test.js
Due: Server

Invitation recipient updates
  konfigyr-data/src/main/java/com/konfigyr/jooq/SettableRecord.java
  konfigyr-data/src/main/resources/migrations/changelogs/changelog-1.0.0.xml
  konfigyr-data/src/test/java/com/konfigyr/jooq/SettableRecordTest.java
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/DefaultInvitations.java
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/Invitation.java
  konfigyr-namespace/src/test/java/com/konfigyr/namespace/InvitationsTest.java
  konfigyr-namespace/src/test/resources/data/invitations.sql
  konfigyr-server/src/main/resources/templates/namespaces/invitations.html
Due: Namespaces, Server

Fix tests
  konfigyr-server/src/test/java/com/konfigyr/namespace/NamespaceControllerTest.java
Due: Server

Membership based authorization implementation
  build.gradle
  konfigyr-api/src/main/java/com/konfigyr/account/Memberships.java
  konfigyr-api/src/main/java/com/konfigyr/security/AccountPrincipal.java
  konfigyr-api/src/main/java/com/konfigyr/security/authority/MembershipAuthoritiesConverter.java
  konfigyr-api/src/test/java/com/konfigyr/security/authority/MembershipAuthoritiesConverterTest.java
  konfigyr-security/src/main/java/com/konfigyr/security/SecurityAutoConfiguration.java
  konfigyr-security/src/main/java/com/konfigyr/security/access/KonfigyrMethodSecurityExpressionHandler.java
  konfigyr-security/src/main/java/com/konfigyr/security/access/KonfigyrMethodSecurityExpressionRoot.java
  konfigyr-security/src/main/java/com/konfigyr/security/access/KonfigyrSecurityExpressionOperations.java
  konfigyr-security/src/main/java/com/konfigyr/security/access/KonfigyrWebSecurityExpressionHandler.java
  konfigyr-security/src/main/java/com/konfigyr/security/access/KonfigyrWebSecurityExpressionRoot.java
  konfigyr-security/src/test/java/com/konfigyr/security/AccountPrincipalServiceTest.java
  konfigyr-security/src/test/java/com/konfigyr/security/SecurityAutoConfigurationTest.java
  konfigyr-security/src/test/java/com/konfigyr/security/SecurityTestConfiguration.java
  konfigyr-security/src/test/java/com/konfigyr/security/access/MethodSecurityExpressionHandlerIntegrationTest.java
  konfigyr-security/src/test/java/com/konfigyr/security/access/WebSecurityExpressionHandlerTest.java
  konfigyr-security/src/test/java/com/konfigyr/security/rememberme/AccountRememberMeServicesTest.java
  konfigyr-security/src/test/java/com/konfigyr/test/AuthorizationTestController.java
  konfigyr-server/src/main/java/com/konfigyr/namespace/NamespaceController.java
  konfigyr-server/src/main/resources/templates/namespaces/fragments/members.html
  konfigyr-server/src/main/resources/templates/namespaces/header.html
  konfigyr-server/src/main/resources/templates/namespaces/members.html
  konfigyr-server/src/test/java/com/konfigyr/namespace/NamespaceControllerTest.java
  konfigyr-test/src/main/java/com/konfigyr/test/TestAccounts.java
Due: API, Security, Server, Test

Escape HTML to fix CodeQL errors
  konfigyr-security/src/test/java/com/konfigyr/test/AuthorizationTestController.java
Due: Security

Fix failing tests
  konfigyr-api/src/test/java/com/konfigyr/security/AccountPrincipalTest.java
Due: API

Bump Spring versions and fix checkstyle errors
  build.gradle
  gradle.properties
  konfigyr-api/src/test/java/com/konfigyr/security/AccountPrincipalTest.java
  konfigyr-security/src/test/java/com/konfigyr/security/AccountPrincipalServiceTest.java
  konfigyr-security/src/test/java/com/konfigyr/security/SecurityTestConfiguration.java
Due: API, Security

Membership based authorization implementation (#65)
  build.gradle
  gradle.properties
  konfigyr-api/src/main/java/com/konfigyr/account/Memberships.java
  konfigyr-api/src/main/java/com/konfigyr/security/AccountPrincipal.java
  konfigyr-api/src/main/java/com/konfigyr/security/authority/MembershipAuthoritiesConverter.java
  konfigyr-api/src/test/java/com/konfigyr/security/AccountPrincipalTest.java
  konfigyr-api/src/test/java/com/konfigyr/security/authority/MembershipAuthoritiesConverterTest.java
  konfigyr-security/src/main/java/com/konfigyr/security/SecurityAutoConfiguration.java
  konfigyr-security/src/main/java/com/konfigyr/security/access/KonfigyrMethodSecurityExpressionHandler.java
  konfigyr-security/src/main/java/com/konfigyr/security/access/KonfigyrMethodSecurityExpressionRoot.java
  konfigyr-security/src/main/java/com/konfigyr/security/access/KonfigyrSecurityExpressionOperations.java
  konfigyr-security/src/main/java/com/konfigyr/security/access/KonfigyrWebSecurityExpressionHandler.java
  konfigyr-security/src/main/java/com/konfigyr/security/access/KonfigyrWebSecurityExpressionRoot.java
  konfigyr-security/src/test/java/com/konfigyr/security/AccountPrincipalServiceTest.java
  konfigyr-security/src/test/java/com/konfigyr/security/SecurityAutoConfigurationTest.java
  konfigyr-security/src/test/java/com/konfigyr/security/SecurityTestConfiguration.java
  konfigyr-security/src/test/java/com/konfigyr/security/access/MethodSecurityExpressionHandlerIntegrationTest.java
  konfigyr-security/src/test/java/com/konfigyr/security/access/WebSecurityExpressionHandlerTest.java
  konfigyr-security/src/test/java/com/konfigyr/security/rememberme/AccountRememberMeServicesTest.java
  konfigyr-security/src/test/java/com/konfigyr/test/AuthorizationTestController.java
  konfigyr-server/src/main/java/com/konfigyr/namespace/NamespaceController.java
  konfigyr-server/src/main/resources/templates/namespaces/fragments/members.html
  konfigyr-server/src/main/resources/templates/namespaces/header.html
  konfigyr-server/src/main/resources/templates/namespaces/members.html
  konfigyr-server/src/test/java/com/konfigyr/namespace/NamespaceControllerTest.java
  konfigyr-test/src/main/java/com/konfigyr/test/TestAccounts.java
Due: API, Security, Server, Test

Updates to NPM Packages
  konfigyr-server/package-lock.json
  konfigyr-server/package.json
  konfigyr-server/rollup.config.js
  konfigyr-server/src/main/resources/templates/namespaces/fragments/members.html
  konfigyr-server/src/main/resources/templates/namespaces/members.html
Due: Server

Invitation events and mail sender
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/DefaultInvitations.java
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/InvitationEvent.java
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/InvitationSender.java
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/NamespaceManagementAutoConfiguration.java
  konfigyr-namespace/src/test/java/com/konfigyr/namespace/InvitationSenderTest.java
  konfigyr-namespace/src/test/java/com/konfigyr/namespace/InvitationsTest.java
  konfigyr-server/src/main/resources/messages/mail.properties
  konfigyr-server/src/main/resources/templates/layout/mail.html
  konfigyr-server/src/main/resources/templates/mail/invitation.html
Due: Namespaces, Server

ESlint configuration update
  konfigyr-server/.eslintrc.cjs
  konfigyr-server/.nvmrc
  konfigyr-server/eslint.config.mjs
  konfigyr-server/package-lock.json
  konfigyr-server/package.json
Due: Server

Fix checkstyle errors
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/InvitationEvent.java
Due: Namespaces

Updates to NPM Packages (#66)
  konfigyr-server/.eslintrc.cjs
  konfigyr-server/.nvmrc
  konfigyr-server/eslint.config.mjs
  konfigyr-server/package-lock.json
  konfigyr-server/package.json
  konfigyr-server/rollup.config.js
  konfigyr-server/src/main/resources/templates/namespaces/fragments/members.html
  konfigyr-server/src/main/resources/templates/namespaces/members.html
Due: Server

Invitation events and mail sender (#67)
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/DefaultInvitations.java
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/InvitationEvent.java
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/InvitationSender.java
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/NamespaceManagementAutoConfiguration.java
  konfigyr-namespace/src/test/java/com/konfigyr/namespace/InvitationSenderTest.java
  konfigyr-namespace/src/test/java/com/konfigyr/namespace/InvitationsTest.java
  konfigyr-server/src/main/resources/messages/mail.properties
  konfigyr-server/src/main/resources/templates/layout/mail.html
  konfigyr-server/src/main/resources/templates/mail/invitation.html
Due: Namespaces, Server

Generated Avatar and full name requirements
  konfigyr-api/src/main/java/com/konfigyr/account/Account.java
  konfigyr-api/src/main/java/com/konfigyr/account/AccountRegistration.java
  konfigyr-api/src/main/java/com/konfigyr/account/Membership.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/Member.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/Namespace.java
  konfigyr-api/src/main/java/com/konfigyr/security/AccountPrincipal.java
  konfigyr-api/src/main/java/com/konfigyr/support/Avatar.java
  konfigyr-api/src/main/java/com/konfigyr/support/FullName.java
  konfigyr-api/src/test/java/com/konfigyr/account/AccountTest.java
  konfigyr-api/src/test/java/com/konfigyr/namespace/NamespaceTest.java
  konfigyr-api/src/test/java/com/konfigyr/support/AvatarTest.java
  konfigyr-api/src/test/java/com/konfigyr/support/FullNameTest.java
  konfigyr-namespace/src/main/java/com/konfigyr/account/DefaultAccountManager.java
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/DefaultNamespaceManager.java
  konfigyr-namespace/src/test/java/com/konfigyr/account/AccountManagerTest.java
  konfigyr-namespace/src/test/java/com/konfigyr/namespace/NamespaceManagerTest.java
Due: API, Namespaces

Fix namespace tests
  konfigyr-api/src/test/java/com/konfigyr/namespace/NamespaceTest.java
Due: API

Generated Avatar and full name requirements (#68)
  konfigyr-api/src/main/java/com/konfigyr/account/Account.java
  konfigyr-api/src/main/java/com/konfigyr/account/AccountRegistration.java
  konfigyr-api/src/main/java/com/konfigyr/account/Membership.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/Member.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/Namespace.java
  konfigyr-api/src/main/java/com/konfigyr/security/AccountPrincipal.java
  konfigyr-api/src/main/java/com/konfigyr/support/Avatar.java
  konfigyr-api/src/main/java/com/konfigyr/support/FullName.java
  konfigyr-api/src/test/java/com/konfigyr/account/AccountTest.java
  konfigyr-api/src/test/java/com/konfigyr/namespace/NamespaceTest.java
  konfigyr-api/src/test/java/com/konfigyr/support/AvatarTest.java
  konfigyr-api/src/test/java/com/konfigyr/support/FullNameTest.java
  konfigyr-namespace/src/main/java/com/konfigyr/account/DefaultAccountManager.java
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/DefaultNamespaceManager.java
  konfigyr-namespace/src/test/java/com/konfigyr/account/AccountManagerTest.java
  konfigyr-namespace/src/test/java/com/konfigyr/namespace/NamespaceManagerTest.java
Due: API, Namespaces

Initial design
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceManager.java
  konfigyr-api/src/main/java/com/konfigyr/support/CriteriaSearchQuery.java
  konfigyr-api/src/main/java/com/konfigyr/support/SearchQuery.java
  konfigyr-data/build.gradle
  konfigyr-data/src/main/java/com/konfigyr/jooq/PageableExecutor.java
  konfigyr-data/src/test/java/com/konfigyr/jooq/DataTestConfiguration.java
  konfigyr-data/src/test/java/com/konfigyr/jooq/PageableExecutorTest.java
  konfigyr-data/src/test/resources/application-test.yml
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/DefaultNamespaceManager.java
  konfigyr-namespace/src/test/java/com/konfigyr/namespace/InvitationsTest.java
  konfigyr-namespace/src/test/java/com/konfigyr/namespace/NamespaceManagerTest.java
  konfigyr-registry/src/main/java/com/konfigyr/registry/ArtifactorySearchQuery.java
  konfigyr-registry/src/main/java/com/konfigyr/registry/DefaultArtifactory.java
  konfigyr-registry/src/test/java/com/konfigyr/registry/ArtifactoryTest.java
  konfigyr-server/src/main/java/com/konfigyr/namespace/NamespaceController.java
  konfigyr-test/src/main/resources/data/registry.sql
Due: API, Namespaces, Server, Test

Invitations page executor
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/DefaultInvitations.java
Due: Namespaces
