Repository konfigyr/konfigyr-project: changes, and which Codecov flags are due for each by the changed paths.
All: API, Cryptography, Data, jOOQ Extensions, Namespaces, Security, Server, Test

Find members method overload
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceManager.java
  konfigyr-namespace/src/test/java/com/konfigyr/namespace/InvitationsTest.java
  konfigyr-namespace/src/test/java/com/konfigyr/namespace/NamespaceManagerTest.java
  konfigyr-server/src/main/java/com/konfigyr/namespace/NamespaceController.java
Due: API, Namespaces, Server

Search query test
  konfigyr-api/src/test/java/com/konfigyr/support/SearchQueryTest.java
Due: API

Fix artifactory sorting issue in tests
  konfigyr-registry/src/test/java/com/konfigyr/registry/ArtifactoryTest.java
  konfigyr-test/src/main/resources/data/registry.sql
Due: Test

Fix checkstyle errors
  konfigyr-namespace/src/test/java/com/konfigyr/namespace/NamespaceManagerTest.java
Due: Namespaces

Query API modifications and Pageable executor support (#70)
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceManager.java
  konfigyr-api/src/main/java/com/konfigyr/support/CriteriaSearchQuery.java
  konfigyr-api/src/main/java/com/konfigyr/support/SearchQuery.java
  konfigyr-api/src/test/java/com/konfigyr/support/SearchQueryTest.java
  konfigyr-data/build.gradle
  konfigyr-data/src/main/java/com/konfigyr/jooq/PageableExecutor.java
  konfigyr-data/src/test/java/com/konfigyr/jooq/DataTestConfiguration.java
  konfigyr-data/src/test/java/com/konfigyr/jooq/PageableExecutorTest.java
  konfigyr-data/src/test/resources/application-test.yml
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/DefaultInvitations.java
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/DefaultNamespaceManager.java
  konfigyr-namespace/src/test/java/com/konfigyr/namespace/NamespaceManagerTest.java
  konfigyr-registry/src/main/java/com/konfigyr/registry/ArtifactorySearchQuery.java
  konfigyr-registry/src/main/java/com/konfigyr/registry/DefaultArtifactory.java
  konfigyr-registry/src/test/java/com/konfigyr/registry/ArtifactoryTest.java
  konfigyr-server/src/main/java/com/konfigyr/namespace/NamespaceController.java
  konfigyr-test/src/main/resources/data/registry.sql
Due: API, Namespaces, Server, Test

Namespace settings page and integrations
  .editorconfig
  konfigyr-api/src/main/java/com/konfigyr/integration/Integration.java
  konfigyr-api/src/main/java/com/konfigyr/integration/IntegrationManager.java
  konfigyr-api/src/main/java/com/konfigyr/integration/IntegrationProvider.java
  konfigyr-api/src/main/java/com/konfigyr/integration/IntegrationType.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceEvent.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceManager.java
  konfigyr-data/src/main/resources/migrations/changelogs/changelog-1.0.0.xml
  konfigyr-namespace/src/main/java/com/konfigyr/integration/DefaultIntegrationManager.java
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/DefaultNamespaceManager.java
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/NamespaceSettingsService.java
  konfigyr-namespace/src/test/java/com/konfigyr/integration/IntegrationManagerTest.java
  konfigyr-namespace/src/test/java/com/konfigyr/namespace/NamespaceManagerTest.java
  konfigyr-namespace/src/test/java/com/konfigyr/namespace/NamespaceSettingsServiceTest.java
  konfigyr-security/src/main/java/com/konfigyr/security/oauth/AuthorizedClientService.java
  konfigyr-server/src/main/assets/styles/components/_card.scss
  konfigyr-server/src/main/java/com/konfigyr/namespace/NamespaceController.java
  konfigyr-server/src/main/java/com/konfigyr/thymeleaf/Forms.java
  konfigyr-server/src/main/resources/messages/konfigyr.properties
  konfigyr-server/src/main/resources/messages/validation.properties
  konfigyr-server/src/main/resources/templates/accounts/layout.html
  konfigyr-server/src/main/resources/templates/fragments/forms.html
  konfigyr-server/src/main/resources/templates/namespaces/settings/general.html
  konfigyr-server/src/main/resources/templates/namespaces/settings/integrations.html
  konfigyr-server/src/main/resources/templates/namespaces/settings/layout.html
  konfigyr-server/src/test/java/com/konfigyr/namespace/NamespaceControllerTest.java
  konfigyr-server/src/test/resources/application-test.yml
  konfigyr-test/src/main/resources/data/integrations.sql
  konfigyr-test/src/main/resources/test-changelog.xml
Due: API, Namespaces, Security, Server, Test

Fix tests and checkstyle errors
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceEvent.java
  konfigyr-server/src/main/java/com/konfigyr/namespace/NamespaceController.java
  konfigyr-server/src/main/java/com/konfigyr/thymeleaf/Forms.java
  konfigyr-server/src/test/java/com/konfigyr/namespace/NamespaceControllerTest.java
Due: API, Server

Update wrapper-validation action to new version
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Due: none

fix comments to use literal for nulls
  konfigyr-api/src/main/java/com/konfigyr/support/SearchQuery.java
Due: API

Namespace settings page and integrations (#71)
  .editorconfig
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  konfigyr-api/src/main/java/com/konfigyr/integration/Integration.java
  konfigyr-api/src/main/java/com/konfigyr/integration/IntegrationManager.java
  konfigyr-api/src/main/java/com/konfigyr/integration/IntegrationProvider.java
  konfigyr-api/src/main/java/com/konfigyr/integration/IntegrationType.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceEvent.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceManager.java
  konfigyr-api/src/main/java/com/konfigyr/support/SearchQuery.java
  konfigyr-data/src/main/resources/migrations/changelogs/changelog-1.0.0.xml
  konfigyr-namespace/src/main/java/com/konfigyr/integration/DefaultIntegrationManager.java
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/DefaultNamespaceManager.java
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/NamespaceSettingsService.java
  konfigyr-namespace/src/test/java/com/konfigyr/integration/IntegrationManagerTest.java
  konfigyr-namespace/src/test/java/com/konfigyr/namespace/NamespaceManagerTest.java
  konfigyr-namespace/src/test/java/com/konfigyr/namespace/NamespaceSettingsServiceTest.java
  konfigyr-security/src/main/java/com/konfigyr/security/oauth/AuthorizedClientService.java
  konfigyr-server/src/main/assets/styles/components/_card.scss
  konfigyr-server/src/main/java/com/konfigyr/namespace/NamespaceController.java
  konfigyr-server/src/main/java/com/konfigyr/thymeleaf/Forms.java
  konfigyr-server/src/main/resources/messages/konfigyr.properties
  konfigyr-server/src/main/resources/messages/validation.properties
  konfigyr-server/src/main/resources/templates/accounts/layout.html
  konfigyr-server/src/main/resources/templates/fragments/forms.html
  konfigyr-server/src/main/resources/templates/namespaces/settings/general.html
  konfigyr-server/src/main/resources/templates/namespaces/settings/integrations.html
  konfigyr-server/src/main/resources/templates/namespaces/settings/layout.html
  konfigyr-server/src/test/java/com/konfigyr/namespace/NamespaceControllerTest.java
  konfigyr-server/src/test/resources/application-test.yml
  konfigyr-test/src/main/resources/data/integrations.sql
  konfigyr-test/src/main/resources/test-changelog.xml
Due: API, Namespaces, Security, Server, Test

Codecov configiration update
  codecov.yml
Due: none

Fix checkstyle errors
  konfigyr/src/test/java/com/konfigyr/namespace/InvitationSenderTest.java
Due: none

Update test packages
  konfigyr-test/src/test/java/com/konfigyr/test/assertions/AssertMatcherTest.java
  konfigyr-test/src/test/java/com/konfigyr/test/config/SpringTestContextTest.java
Due: Test

Spring Boot 3.4.0
  build.gradle
  gradle.properties
  konfigyr-jooq-extensions/src/main/java/com/konfigyr/jooq/KonfigyrDatabase.java
  konfigyr/build.gradle
  konfigyr/src/main/java/com/konfigyr/security/WebSecurityConfiguration.java
  konfigyr/src/main/java/com/konfigyr/security/login/LoginSecurityController.java
  konfigyr/src/main/resources/application.yml
  konfigyr/src/test/java/com/konfigyr/account/settings/AccountSettingsTest.java
  konfigyr/src/test/java/com/konfigyr/crypto/CryptographyIntegrationTest.java
  konfigyr/src/test/java/com/konfigyr/security/login/LoginPage.java
  konfigyr/src/test/java/com/konfigyr/security/login/LoginSecurityControllerTest.java
  konfigyr/src/test/java/com/konfigyr/test/AbstractIntegrationTest.java
  konfigyr/src/test/java/com/konfigyr/test/AbstractMvcIntegrationTest.java
  konfigyr/src/test/java/com/konfigyr/test/page/AbstractPage.java
Due: jOOQ Extensions

Setup NPM bin location via properties
  gradle.properties
  konfigyr/build.gradle
Due: none

Update NPM binary location
  gradle.properties
Due: none

Fix tests
  konfigyr/src/test/java/com/konfigyr/security/login/LoginSecurityControllerTest.java
  konfigyr/src/test/java/com/konfigyr/test/AbstractIntegrationTest.java
  konfigyr/src/test/java/com/konfigyr/test/AbstractMvcIntegrationTest.java
Due: none

Login controller tests
  konfigyr/src/main/java/com/konfigyr/security/login/LoginSecurityController.java
  konfigyr/src/main/resources/templates/login.html
  konfigyr/src/test/java/com/konfigyr/security/login/LoginControllerErrorExtractorTest.java
  konfigyr/src/test/java/com/konfigyr/security/login/LoginPage.java
  konfigyr/src/test/java/com/konfigyr/security/login/LoginSecurityControllerTest.java
Due: none

Do not use default OAuth error
  konfigyr/src/main/java/com/konfigyr/security/login/LoginSecurityController.java
  konfigyr/src/test/java/com/konfigyr/security/login/LoginControllerErrorExtractorTest.java
  konfigyr/src/test/java/com/konfigyr/security/login/LoginSecurityControllerTest.java
Due: none

Fix checkstyle
  konfigyr/src/main/java/com/konfigyr/security/login/LoginSecurityController.java
Due: none

Spring Boot 3.4.0 (#75)
  build.gradle
  gradle.properties
  konfigyr-jooq-extensions/src/main/java/com/konfigyr/jooq/KonfigyrDatabase.java
  konfigyr/build.gradle
  konfigyr/src/main/java/com/konfigyr/security/WebSecurityConfiguration.java
  konfigyr/src/main/java/com/konfigyr/security/login/LoginSecurityController.java
  konfigyr/src/main/resources/application.yml
  konfigyr/src/main/resources/templates/login.html
  konfigyr/src/test/java/com/konfigyr/account/settings/AccountSettingsTest.java
  konfigyr/src/test/java/com/konfigyr/crypto/CryptographyIntegrationTest.java
  konfigyr/src/test/java/com/konfigyr/security/login/LoginControllerErrorExtractorTest.java
  konfigyr/src/test/java/com/konfigyr/security/login/LoginPage.java
  konfigyr/src/test/java/com/konfigyr/security/login/LoginSecurityControllerTest.java
  konfigyr/src/test/java/com/konfigyr/test/AbstractMvcIntegrationTest.java
  konfigyr/src/test/java/com/konfigyr/test/page/AbstractPage.java
Due: jOOQ Extensions

Security improvements and membership events
  konfigyr/src/main/java/com/konfigyr/KonfigyrApplication.java
  konfigyr/src/main/java/com/konfigyr/jooq/JooqCustomizerConfiguration.java
  konfigyr/src/main/java/com/konfigyr/jooq/SpringConverterProvider.java
  konfigyr/src/main/java/com/konfigyr/namespace/DefaultInvitations.java
  konfigyr/src/main/java/com/konfigyr/namespace/DefaultNamespaceManager.java
  konfigyr/src/main/java/com/konfigyr/namespace/NamespaceEvent.java
  konfigyr/src/main/java/com/konfigyr/security/AccountPrincipalService.java
  konfigyr/src/main/java/com/konfigyr/security/SecurityAutoConfiguration.java
  konfigyr/src/main/java/com/konfigyr/security/WebSecurityConfiguration.java
  konfigyr/src/main/java/com/konfigyr/security/rememberme/AccountRememberMeServices.java
  konfigyr/src/main/resources/application.yml
  konfigyr/src/test/java/com/konfigyr/KonfigyrServerModulesTest.java
  konfigyr/src/test/java/com/konfigyr/integration/IntegrationManagerTest.java
  konfigyr/src/test/java/com/konfigyr/jooq/SpringConverterProviderTest.java
  konfigyr/src/test/java/com/konfigyr/namespace/InvitationsTest.java
  konfigyr/src/test/java/com/konfigyr/namespace/NamespaceManagerTest.java
  konfigyr/src/test/java/com/konfigyr/security/AccountPrincipalServiceTest.java
  konfigyr/src/test/java/com/konfigyr/security/SecurityAutoConfigurationTest.java
  konfigyr/src/test/java/com/konfigyr/security/oauth/OAuth2UserServiceTest.java
  konfigyr/src/test/java/com/konfigyr/security/rememberme/AccountRememberMeServicesTest.java
Due: none

Security improvements and membership events (#76)
  konfigyr/src/main/java/com/konfigyr/KonfigyrApplication.java
  konfigyr/src/main/java/com/konfigyr/jooq/JooqCustomizerConfiguration.java
  konfigyr/src/main/java/com/konfigyr/jooq/SpringConverterProvider.java
  konfigyr/src/main/java/com/konfigyr/namespace/DefaultInvitations.java
  konfigyr/src/main/java/com/konfigyr/namespace/DefaultNamespaceManager.java
  konfigyr/src/main/java/com/konfigyr/namespace/NamespaceEvent.java
  konfigyr/src/main/java/com/konfigyr/security/AccountPrincipalService.java
  konfigyr/src/main/java/com/konfigyr/security/SecurityAutoConfiguration.java
  konfigyr/src/main/java/com/konfigyr/security/WebSecurityConfiguration.java
  konfigyr/src/main/java/com/konfigyr/security/rememberme/AccountRememberMeServices.java
  konfigyr/src/main/resources/application.yml
  konfigyr/src/test/java/com/konfigyr/KonfigyrServerModulesTest.java
  konfigyr/src/test/java/com/konfigyr/integration/IntegrationManagerTest.java
  konfigyr/src/test/java/com/konfigyr/jooq/SpringConverterProviderTest.java
  konfigyr/src/test/java/com/konfigyr/namespace/InvitationsTest.java
  konfigyr/src/test/java/com/konfigyr/namespace/NamespaceManagerTest.java
  konfigyr/src/test/java/com/konfigyr/security/AccountPrincipalServiceTest.java
  konfigyr/src/test/java/com/konfigyr/security/SecurityAutoConfigurationTest.java
  konfigyr/src/test/java/com/konfigyr/security/oauth/OAuth2UserServiceTest.java
  konfigyr/src/test/java/com/konfigyr/security/rememberme/AccountRememberMeServicesTest.java
Due: none

Fix tests
  codecov.yml
  konfigyr-identity/src/test/java/com/konfigyr/identity/authentication/oauth/AuthorizedClientServiceTest.java
  konfigyr-jooq-extensions/src/main/java/com/konfigyr/jooq/KonfigyrDatabase.java
  konfigyr-jooq-extensions/src/test/java/com/konfigyr/jooq/KonfigyrDatabaseTest.java
  konfigyr-test/src/main/java/com/konfigyr/test/assertions/AbstractOAuth2TokenAssert.java
  konfigyr-test/src/main/java/com/konfigyr/test/assertions/OAuth2AccessTokenAssert.java
  konfigyr-test/src/main/java/com/konfigyr/test/assertions/OAuth2TokenAssert.java
  konfigyr-test/src/test/java/com/konfigyr/test/assertions/OAuth2TokenAssertTest.java
Due: jOOQ Extensions, Test

Fix tests
  konfigyr-identity/src/test/java/com/konfigyr/identity/authorization/AuthorizationServiceTest.java
  konfigyr-jooq-extensions/src/main/java/com/konfigyr/jooq/KonfigyrDatabase.java
  konfigyr-test/src/main/java/com/konfigyr/test/assertions/OAuth2TokenAssert.java
Due: jOOQ Extensions, Test

Increase code coverage
  konfigyr-data/src/test/java/com/konfigyr/data/SettableRecordTest.java
  konfigyr-identity/src/test/java/com/konfigyr/identity/AccountIdentities.java
  konfigyr-identity/src/test/java/com/konfigyr/identity/authentication/AccountIdentityTest.java
  konfigyr-identity/src/test/java/com/konfigyr/identity/authorization/jwk/KeyAlgorithmTest.java
  konfigyr-identity/src/test/java/com/konfigyr/identity/authorization/jwk/KeyRepositoryTest.java
Due: none

EncryptionConverter with authentication context added
  konfigyr-data/src/main/java/com/konfigyr/data/converter/EncryptionConverter.java
  konfigyr-data/src/test/java/com/konfigyr/data/converter/EncryptionConverterTest.java
  konfigyr-data/src/test/java/com/konfigyr/data/converter/MessageDigestConverterTest.java
  konfigyr-identity/src/main/java/com/konfigyr/identity/authentication/oauth/AuthorizedClientService.java
  konfigyr-identity/src/main/java/com/konfigyr/identity/authorization/DefaultAuthorizationService.java
  konfigyr-identity/src/main/java/com/konfigyr/identity/authorization/jwk/KeyRepository.java
Due: none

Fix checkstyle
  konfigyr-identity/src/main/java/com/konfigyr/identity/authorization/jwk/KeyRepository.java
Due: none

Fix test
  konfigyr-data/src/test/java/com/konfigyr/data/converter/MessageDigestConverterTest.java
Due: none

Updates to CSRF and how authentication is handled in Mock MVC tests
  konfigyr-api/src/main/java/com/konfigyr/hateoas/LinkRelation.java
  konfigyr-api/src/main/java/com/konfigyr/security/WebSecurityConfiguration.java
  konfigyr-api/src/main/java/com/konfigyr/security/csrf/CsrfRequestMatcher.java
  konfigyr-api/src/main/java/com/konfigyr/security/oauth/RequestAttributeBearerTokenResolver.java
  konfigyr-api/src/test/java/com/konfigyr/namespace/controller/NamespaceControllerTest.java
  konfigyr-api/src/test/java/com/konfigyr/security/SecurityIntegrationTest.java
  konfigyr-api/src/test/java/com/konfigyr/security/csrf/CsrfRequestMatcherTest.java
  konfigyr-api/src/test/java/com/konfigyr/security/oauth/RequestAttributeBearerTokenResolverTest.java
  konfigyr-api/src/test/java/com/konfigyr/test/AbstractControllerTest.java
  konfigyr-api/src/test/java/com/konfigyr/test/AbstractIntegrationTest.java
  konfigyr-api/src/test/java/com/konfigyr/test/KeyGenerator.java
  konfigyr-core/src/main/java/com/konfigyr/entity/TimeSortedEntityId.java
Due: API

Cover access control exceptions
  konfigyr-api/src/main/java/com/konfigyr/security/access/AccessControlException.java
  konfigyr-api/src/main/java/com/konfigyr/security/access/KonfigyrAccessService.java
  konfigyr-api/src/main/java/com/konfigyr/security/access/ObjectIdentityNotFound.java
  konfigyr-api/src/test/java/com/konfigyr/security/access/AccessServiceTest.java
Due: API

Introduction of OAuth scopes
  konfigyr-core/src/main/java/com/konfigyr/entity/TimeSortedEntityId.java
  konfigyr-core/src/main/java/com/konfigyr/security/OAuthScope.java
  konfigyr-core/src/test/java/com/konfigyr/security/OAuthScopeTest.java
  konfigyr-identity/src/main/java/com/konfigyr/identity/authorization/controller/AuthorizedScope.java
  konfigyr-identity/src/main/java/com/konfigyr/identity/configuration/SecurityConfiguration.java
  konfigyr-identity/src/main/resources/application.yml
  konfigyr-identity/src/main/resources/messages/messages.properties
  konfigyr-identity/src/main/resources/templates/consents.html
  konfigyr-identity/src/test/java/com/konfigyr/identity/authorization/controller/AuthorizationConsentControllerTest.java
  konfigyr-identity/src/test/java/com/konfigyr/identity/authorization/controller/AuthorizedOAuthScopeTest.java
  konfigyr-identity/src/test/java/com/konfigyr/identity/authorization/controller/AuthorizedScopesTest.java
Due: none

Fix checkstyle, draft `AuthorizationServerIntegrationTest`
  konfigyr-core/src/main/java/com/konfigyr/security/OAuthScope.java
  konfigyr-identity/src/test/java/com/konfigyr/identity/AuthorizationServerIntegrationTest.java
  konfigyr-identity/src/test/resources/application-test.yml
Due: none

OAuth error page, additional integration tests
  konfigyr-identity/src/main/java/com/konfigyr/identity/authorization/AuthorizationFailureHandler.java
  konfigyr-identity/src/main/java/com/konfigyr/identity/authorization/controller/AuthorizationErrorController.java
  konfigyr-identity/src/main/java/com/konfigyr/identity/configuration/SecurityConfiguration.java
  konfigyr-identity/src/main/resources/messages/messages.properties
  konfigyr-identity/src/main/resources/templates/components/buttons.html
  konfigyr-identity/src/main/resources/templates/oauth-error.html
  konfigyr-identity/src/test/java/com/konfigyr/identity/AuthorizationServerIntegrationTest.java
  konfigyr-identity/src/test/java/com/konfigyr/identity/authorization/AuthorizationFailureHandlerTest.java
  konfigyr-identity/src/test/java/com/konfigyr/identity/authorization/controller/AuthorizationErrorControllerTest.java
  konfigyr-identity/src/test/resources/application-test.yml
Due: none

Path conditions:
  API: any of: konfigyr-api/**
  Cryptography: any of: konfigyr-cryptography/**
  Data: any of: konfigyr-cryptography/**
  jOOQ Extensions: any of: konfigyr-jooq-extensions/**
  Namespaces: any of: konfigyr-namespace/**
  Security: any of: konfigyr-security/**
  Server: any of: konfigyr-server/**
  Test: any of: konfigyr-test/**
