Repository konfigyr/konfigyr-project: changes, and which Codecov flags are due for each by the changed paths.
All: API, Cryptography, Data, jOOQ Extensions, Namespaces, Security, Server, Test

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 10%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: konfigyr-api
      name: API
      paths:
        - konfigyr-api/**
    - component_id: konfigyr-cryptography
      name: Cryptography
      paths:
        - konfigyr-cryptography/**
    - component_id: konfigyr-data
      name: Data
      paths:
        - konfigyr-cryptography/**
    - component_id: konfigyr-jooq
      name: jOOQ Extensions
      paths:
        - konfigyr-jooq-extensions/**
    - component_id: konfigyr-namespace
      name: Namespaces
      paths:
        - konfigyr-namespace/**
    - component_id: konfigyr-security
      name: Security
      paths:
        - konfigyr-security/**
    - component_id: konfigyr-server
      name: Server
      paths:
        - konfigyr-server/**
    - component_id: konfigyr-test
      name: Test
      paths:
        - konfigyr-test/**

Codecov support (#11)
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  README.md
  build.gradle
  codecov.yml
  konfigyr-api/src/main/java/com/konfigyr/account/Account.java
  konfigyr-api/src/main/java/com/konfigyr/account/AccountRegistration.java
  konfigyr-api/src/test/java/com/konfigyr/account/AccountRegistrationTest.java
  konfigyr-api/src/test/java/com/konfigyr/account/AccountTest.java
  konfigyr-security/src/main/java/com/konfigyr/security/oauth/OAuth2UserAccount.java
  konfigyr-security/src/test/java/com/konfigyr/security/oauth/OAuth2UserConvertersTest.java
  konfigyr-server/src/test/java/com/konfigyr/security/SecurityIntegrationTest.java
  konfigyr-server/src/test/resources/application-test.yml
Due: API, Security, Server

Fix tests
  konfigyr-server/src/test/java/com/konfigyr/security/SecurityIntegrationTest.java
Due: Server

ES-Lint
  konfigyr-server/.eslintrc.json
  konfigyr-server/build.gradle
  konfigyr-server/package-lock.json
  konfigyr-server/package.json
Due: Server

Prettier
  konfigyr-server/.eslintrc.json
  konfigyr-server/.prettierrc.json
  konfigyr-server/package-lock.json
  konfigyr-server/package.json
  konfigyr-server/src/main/assets/scripts/debug.js
Due: Server

Create NPM test task
  konfigyr-server/build.gradle
  konfigyr-server/package-lock.json
  konfigyr-server/package.json
Due: Server

ES-Lint (#13)
  konfigyr-server/.eslintrc.json
  konfigyr-server/.prettierrc.json
  konfigyr-server/build.gradle
  konfigyr-server/package-lock.json
  konfigyr-server/package.json
  konfigyr-server/src/main/assets/scripts/debug.js
Due: Server

Jest test setup
  konfigyr-server/.babelrc
  konfigyr-server/.eslintrc.json
  konfigyr-server/jest.config.json
  konfigyr-server/package-lock.json
  konfigyr-server/package.json
  konfigyr-server/src/main/assets/test/debug.test.js
Due: Server

Jest test setup (#15)
  konfigyr-server/.babelrc
  konfigyr-server/.eslintrc.json
  konfigyr-server/jest.config.json
  konfigyr-server/package-lock.json
  konfigyr-server/package.json
  konfigyr-server/src/main/assets/test/debug.test.js
Due: Server

Login page template
  konfigyr-server/src/main/assets/styles/_styles.scss
  konfigyr-server/src/main/assets/styles/utilities/_miscs.scss
  konfigyr-server/src/main/java/com/konfigyr/controller/AuthenticationController.java
  konfigyr-server/src/main/java/com/konfigyr/security/WebSecurityConfiguration.java
  konfigyr-server/src/main/resources/messages/konfigyr.properties
  konfigyr-server/src/main/resources/templates/login.html
Due: Server

HTML Unit support for testing pages
  konfigyr-server/build.gradle
  konfigyr-server/rollup.config.js
  konfigyr-server/src/main/resources/messages/konfigyr.properties
  konfigyr-server/src/main/resources/templates/index.html
  konfigyr-server/src/main/resources/templates/login.html
  konfigyr-server/src/test/java/com/konfigyr/page/AbstractPage.java
  konfigyr-server/src/test/java/com/konfigyr/page/LoginPage.java
  konfigyr-server/src/test/java/com/konfigyr/security/SecurityIntegrationTest.java
Due: Server

Test selectors
  konfigyr-server/src/main/java/com/konfigyr/thymeleaf/KonfigyrDialect.java
  konfigyr-server/src/main/java/com/konfigyr/thymeleaf/TestSelectorProcessor.java
  konfigyr-server/src/main/resources/templates/login.html
  konfigyr-server/src/test/java/com/konfigyr/page/AbstractPage.java
  konfigyr-server/src/test/java/com/konfigyr/page/LoginPage.java
Due: Server

Customise dialect
  konfigyr-server/src/main/java/com/konfigyr/thymeleaf/KonfigyrDialect.java
  konfigyr-server/src/main/java/com/konfigyr/thymeleaf/ThymelafConfiguration.java
  konfigyr-server/src/main/resources/templates/login.html
  konfigyr-server/src/test/java/com/konfigyr/page/LoginPage.java
Due: Server

Login page template (#16)
  konfigyr-server/build.gradle
  konfigyr-server/rollup.config.js
  konfigyr-server/src/main/assets/styles/_styles.scss
  konfigyr-server/src/main/assets/styles/utilities/_miscs.scss
  konfigyr-server/src/main/java/com/konfigyr/controller/AuthenticationController.java
  konfigyr-server/src/main/java/com/konfigyr/security/WebSecurityConfiguration.java
  konfigyr-server/src/main/java/com/konfigyr/thymeleaf/KonfigyrDialect.java
  konfigyr-server/src/main/java/com/konfigyr/thymeleaf/TestSelectorProcessor.java
  konfigyr-server/src/main/java/com/konfigyr/thymeleaf/ThymelafConfiguration.java
  konfigyr-server/src/main/resources/messages/konfigyr.properties
  konfigyr-server/src/main/resources/templates/index.html
  konfigyr-server/src/main/resources/templates/login.html
  konfigyr-server/src/test/java/com/konfigyr/page/AbstractPage.java
  konfigyr-server/src/test/java/com/konfigyr/page/LoginPage.java
  konfigyr-server/src/test/java/com/konfigyr/security/SecurityIntegrationTest.java
Due: Server

Thymeleaf Form Object expression and style customization
  konfigyr-server/src/main/assets/styles/_settings.scss
  konfigyr-server/src/main/assets/styles/_styles.scss
  konfigyr-server/src/main/assets/styles/components/_card.scss
  konfigyr-server/src/main/assets/styles/content/_button.scss
  konfigyr-server/src/main/assets/styles/forms/_basics.scss
  konfigyr-server/src/main/assets/styles/forms/_checkbox-radio-box.scss
  konfigyr-server/src/main/assets/styles/forms/_help-text.scss
  konfigyr-server/src/main/assets/styles/forms/_validation-error.scss
  konfigyr-server/src/main/assets/styles/konfigyr.scss
  konfigyr-server/src/main/assets/styles/themes/_light.scss
  konfigyr-server/src/main/java/com/konfigyr/thymeleaf/Forms.java
  konfigyr-server/src/main/java/com/konfigyr/thymeleaf/KonfigyrDialect.java
  konfigyr-server/src/main/java/com/konfigyr/thymeleaf/KonfigyrExpressionObjectFactory.java
  konfigyr-server/src/main/java/com/konfigyr/web/WebMvcConfiguration.java
  konfigyr-server/src/main/resources/application.yml
  konfigyr-server/src/main/resources/static/favicon.ico
  konfigyr-server/src/main/resources/templates/fragments/forms.html
  konfigyr-server/src/main/resources/templates/index.html
Due: Server

Thymeleaf testing support
  konfigyr-server/build.gradle
  konfigyr-server/src/main/java/com/konfigyr/thymeleaf/Forms.java
  konfigyr-server/src/test/java/com/konfigyr/thymeleaf/KonfigyrDialectTest.java
  konfigyr-server/src/test/java/com/konfigyr/thymeleaf/KonfigyrProcessingContextBuilder.java
  konfigyr-server/src/test/java/com/konfigyr/thymeleaf/TestTemplateModel.java
  konfigyr-server/src/test/resources/thymeleaf/form-control/checkbox-form-control.thtest
  konfigyr-server/src/test/resources/thymeleaf/form-control/error-form-control.thtest
  konfigyr-server/src/test/resources/thymeleaf/form-control/null-value-form-control.thtest
  konfigyr-server/src/test/resources/thymeleaf/form-control/simple-form-control.thtest
  konfigyr-server/src/test/resources/thymeleaf/ignore-test-selectors/expression-selector.thtest
  konfigyr-server/src/test/resources/thymeleaf/ignore-test-selectors/simple-selector.thtest
  konfigyr-server/src/test/resources/thymeleaf/test-context.xml
  konfigyr-server/src/test/resources/thymeleaf/test-selectors/empty-selector.thtest
  konfigyr-server/src/test/resources/thymeleaf/test-selectors/expression-selector.thtest
  konfigyr-server/src/test/resources/thymeleaf/test-selectors/simple-selector.thtest
Due: Server

remove unused import
  konfigyr-server/src/test/java/com/konfigyr/thymeleaf/KonfigyrDialectTest.java
Due: Server

Thymeleaf form support and form component styles (#17)
  konfigyr-server/build.gradle
  konfigyr-server/src/main/assets/styles/_settings.scss
  konfigyr-server/src/main/assets/styles/_styles.scss
  konfigyr-server/src/main/assets/styles/components/_card.scss
  konfigyr-server/src/main/assets/styles/content/_button.scss
  konfigyr-server/src/main/assets/styles/forms/_basics.scss
  konfigyr-server/src/main/assets/styles/forms/_checkbox-radio-box.scss
  konfigyr-server/src/main/assets/styles/forms/_help-text.scss
  konfigyr-server/src/main/assets/styles/forms/_validation-error.scss
  konfigyr-server/src/main/assets/styles/konfigyr.scss
  konfigyr-server/src/main/assets/styles/themes/_light.scss
  konfigyr-server/src/main/java/com/konfigyr/thymeleaf/Forms.java
  konfigyr-server/src/main/java/com/konfigyr/thymeleaf/KonfigyrDialect.java
  konfigyr-server/src/main/java/com/konfigyr/thymeleaf/KonfigyrExpressionObjectFactory.java
  konfigyr-server/src/main/java/com/konfigyr/web/WebMvcConfiguration.java
  konfigyr-server/src/main/resources/application.yml
  konfigyr-server/src/main/resources/static/favicon.ico
  konfigyr-server/src/main/resources/templates/fragments/forms.html
  konfigyr-server/src/main/resources/templates/index.html
  konfigyr-server/src/test/java/com/konfigyr/thymeleaf/KonfigyrDialectTest.java
  konfigyr-server/src/test/java/com/konfigyr/thymeleaf/KonfigyrProcessingContextBuilder.java
  konfigyr-server/src/test/java/com/konfigyr/thymeleaf/TestTemplateModel.java
  konfigyr-server/src/test/resources/thymeleaf/form-control/checkbox-form-control.thtest
  konfigyr-server/src/test/resources/thymeleaf/form-control/error-form-control.thtest
  konfigyr-server/src/test/resources/thymeleaf/form-control/null-value-form-control.thtest
  konfigyr-server/src/test/resources/thymeleaf/form-control/simple-form-control.thtest
  konfigyr-server/src/test/resources/thymeleaf/ignore-test-selectors/expression-selector.thtest
  konfigyr-server/src/test/resources/thymeleaf/ignore-test-selectors/simple-selector.thtest
  konfigyr-server/src/test/resources/thymeleaf/test-context.xml
  konfigyr-server/src/test/resources/thymeleaf/test-selectors/empty-selector.thtest
  konfigyr-server/src/test/resources/thymeleaf/test-selectors/expression-selector.thtest
  konfigyr-server/src/test/resources/thymeleaf/test-selectors/simple-selector.thtest
Due: Server

Use codecov secret as token for actions
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Due: none

Fix action config for codecov
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Due: none

Use codecov secret as token for actions (#18)
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Due: none

Initial Namespace setup
  konfigyr-api/src/main/java/com/konfigyr/account/Account.java
  konfigyr-api/src/main/java/com/konfigyr/account/AccountManager.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/Namespace.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceManager.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceType.java
  konfigyr-api/src/test/java/com/konfigyr/namespace/NamespaceTest.java
  konfigyr-data/src/main/resources/migrations/changelogs/changelog-1.0.0.xml
  konfigyr-namespace/src/main/java/com/konfigyr/account/AccountManagementAutoConfiguration.java
  konfigyr-namespace/src/main/java/com/konfigyr/account/DefaultAccountManager.java
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/DefaultNamespaceManager.java
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/NamespaceManagementAutoConfiguration.java
  konfigyr-namespace/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  konfigyr-namespace/src/test/java/com/konfigyr/NamespaceTestConfiguration.java
  konfigyr-namespace/src/test/java/com/konfigyr/account/AccountManagerTest.java
  konfigyr-namespace/src/test/java/com/konfigyr/namespace/NamespaceManagerTest.java
  konfigyr-namespace/src/test/resources/application.yml
  konfigyr-test/src/main/resources/data/namespaces.sql
  konfigyr-test/src/main/resources/test-changelog.xml
Due: API, Namespaces, Test

Initial Namespace setup (#19)
  konfigyr-api/src/main/java/com/konfigyr/account/Account.java
  konfigyr-api/src/main/java/com/konfigyr/account/AccountManager.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/Namespace.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceManager.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceType.java
  konfigyr-api/src/test/java/com/konfigyr/namespace/NamespaceTest.java
  konfigyr-data/src/main/resources/migrations/changelogs/changelog-1.0.0.xml
  konfigyr-namespace/src/main/java/com/konfigyr/account/AccountManagementAutoConfiguration.java
  konfigyr-namespace/src/main/java/com/konfigyr/account/DefaultAccountManager.java
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/DefaultNamespaceManager.java
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/NamespaceManagementAutoConfiguration.java
  konfigyr-namespace/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  konfigyr-namespace/src/test/java/com/konfigyr/NamespaceTestConfiguration.java
  konfigyr-namespace/src/test/java/com/konfigyr/account/AccountManagerTest.java
  konfigyr-namespace/src/test/java/com/konfigyr/namespace/NamespaceManagerTest.java
  konfigyr-namespace/src/test/resources/application.yml
  konfigyr-test/src/main/resources/data/namespaces.sql
  konfigyr-test/src/main/resources/test-changelog.xml
Due: API, Namespaces, Test

Created `Slug` type to create URL slug paths
  konfigyr-api/build.gradle
  konfigyr-api/src/main/java/com/konfigyr/slug/Slug.java
  konfigyr-api/src/test/java/com/konfigyr/slug/SlugTest.java
Due: API

Created `Slug` type to create URL slug paths (#20)
  konfigyr-api/build.gradle
  konfigyr-api/src/main/java/com/konfigyr/slug/Slug.java
  konfigyr-api/src/test/java/com/konfigyr/slug/SlugTest.java
Due: API

Account Principal and Remember Me services
  konfigyr-data/src/main/resources/migrations/changelogs/changelog-1.0.0.xml
  konfigyr-security/build.gradle
  konfigyr-security/src/main/java/com/konfigyr/security/AccountPrincipal.java
  konfigyr-security/src/main/java/com/konfigyr/security/AccountPrincipalService.java
  konfigyr-security/src/main/java/com/konfigyr/security/PrincipalService.java
  konfigyr-security/src/main/java/com/konfigyr/security/SecurityAutoConfiguration.java
  konfigyr-security/src/main/java/com/konfigyr/security/oauth/AuthorizedClientService.java
  konfigyr-security/src/main/java/com/konfigyr/security/oauth/PrincipalAccountOAuth2UserService.java
  konfigyr-security/src/main/java/com/konfigyr/security/rememberme/AccountRememberMeServices.java
  konfigyr-security/src/test/java/com/konfigyr/security/AccountPrincipalServiceTest.java
  konfigyr-security/src/test/java/com/konfigyr/security/AccountPrincipalTest.java
  konfigyr-security/src/test/java/com/konfigyr/security/SecurityAutoConfigurationTest.java
  konfigyr-security/src/test/java/com/konfigyr/security/oauth/OAuth2AccessTokens.java
  konfigyr-security/src/test/java/com/konfigyr/security/oauth/OAuth2AuthorizedClientServiceTest.java
  konfigyr-security/src/test/java/com/konfigyr/security/oauth/OAuth2UserServiceTest.java
  konfigyr-security/src/test/java/com/konfigyr/security/rememberme/AccountRememberMeServicesTest.java
  konfigyr-security/src/test/resources/application.yml
  konfigyr-server/src/main/java/com/konfigyr/security/SecurityController.java
  konfigyr-server/src/main/java/com/konfigyr/security/WebSecurityConfiguration.java
  konfigyr-server/src/main/resources/application.yml
  konfigyr-test/src/main/resources/logback-test.xml
Due: Security, Server, Test

Simplify `PrincipalService` Bean Factory method using `ObjectProvider`
  konfigyr-security/src/main/java/com/konfigyr/security/SecurityAutoConfiguration.java
  konfigyr-security/src/test/java/com/konfigyr/security/SecurityAutoConfigurationTest.java
Due: Security

Fix test coverage errors
  konfigyr-security/src/main/java/com/konfigyr/security/rememberme/AccountRememberMeServices.java
  konfigyr-security/src/test/java/com/konfigyr/security/rememberme/AccountRememberMeServicesTest.java
Due: Security

Added lombok config
  konfigyr-security/src/main/java/com/konfigyr/security/AccountPrincipal.java
  lombok.config
Due: Security

Added javadocs
  konfigyr-security/src/main/java/com/konfigyr/security/AccountPrincipalService.java
  konfigyr-security/src/main/java/com/konfigyr/security/oauth/PrincipalAccountOAuth2UserService.java
  konfigyr-security/src/main/java/com/konfigyr/security/rememberme/AccountRememberMeServices.java
Due: Security

Add more assertions
  konfigyr-security/src/test/java/com/konfigyr/security/rememberme/AccountRememberMeServicesTest.java
Due: Security

Add other account status tests
  konfigyr-security/src/test/java/com/konfigyr/security/AccountPrincipalTest.java
Due: Security

Prevent AccountRememberMeServices customization
  konfigyr-security/src/main/java/com/konfigyr/security/rememberme/AccountRememberMeServices.java
  konfigyr-security/src/test/java/com/konfigyr/security/rememberme/AccountRememberMeServicesTest.java
Due: Security

Update javadocs
  konfigyr-security/src/main/java/com/konfigyr/security/rememberme/AccountRememberMeServices.java
Due: Security

Logout test coverage
  konfigyr-security/src/test/java/com/konfigyr/security/rememberme/AccountRememberMeServicesTest.java
Due: Security

Account Principal and Remember Me services (#21)
  konfigyr-data/src/main/resources/migrations/changelogs/changelog-1.0.0.xml
  konfigyr-security/build.gradle
  konfigyr-security/src/main/java/com/konfigyr/security/AccountPrincipal.java
  konfigyr-security/src/main/java/com/konfigyr/security/AccountPrincipalService.java
  konfigyr-security/src/main/java/com/konfigyr/security/PrincipalService.java
  konfigyr-security/src/main/java/com/konfigyr/security/SecurityAutoConfiguration.java
  konfigyr-security/src/main/java/com/konfigyr/security/oauth/AuthorizedClientService.java
  konfigyr-security/src/main/java/com/konfigyr/security/oauth/PrincipalAccountOAuth2UserService.java
  konfigyr-security/src/main/java/com/konfigyr/security/rememberme/AccountRememberMeServices.java
  konfigyr-security/src/test/java/com/konfigyr/security/AccountPrincipalServiceTest.java
  konfigyr-security/src/test/java/com/konfigyr/security/AccountPrincipalTest.java
  konfigyr-security/src/test/java/com/konfigyr/security/SecurityAutoConfigurationTest.java
  konfigyr-security/src/test/java/com/konfigyr/security/oauth/OAuth2AccessTokens.java
  konfigyr-security/src/test/java/com/konfigyr/security/oauth/OAuth2AuthorizedClientServiceTest.java
  konfigyr-security/src/test/java/com/konfigyr/security/oauth/OAuth2UserServiceTest.java
  konfigyr-security/src/test/java/com/konfigyr/security/rememberme/AccountRememberMeServicesTest.java
  konfigyr-security/src/test/resources/application.yml
  konfigyr-server/src/main/java/com/konfigyr/security/SecurityController.java
  konfigyr-server/src/main/java/com/konfigyr/security/WebSecurityConfiguration.java
  konfigyr-server/src/main/resources/application.yml
  konfigyr-test/src/main/resources/logback-test.xml
  lombok.config
Due: Security, Server, Test

Create namespace
  konfigyr-api/src/main/java/com/konfigyr/account/Account.java
  konfigyr-api/src/main/java/com/konfigyr/account/AccountEvent.java
  konfigyr-api/src/main/java/com/konfigyr/account/AccountExistsException.java
  konfigyr-api/src/main/java/com/konfigyr/account/AccountManager.java
  konfigyr-api/src/main/java/com/konfigyr/account/AccountRegisteredEvent.java
  konfigyr-api/src/main/java/com/konfigyr/account/AccountRegistration.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/Namespace.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceDefinition.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceEvent.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceException.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceExistsException.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceManager.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceOwnerException.java
  konfigyr-api/src/main/java/com/konfigyr/slug/Slug.java
  konfigyr-api/src/test/java/com/konfigyr/account/AccountRegistrationTest.java
  konfigyr-api/src/test/java/com/konfigyr/account/AccountTest.java
  konfigyr-api/src/test/java/com/konfigyr/namespace/NamespaceTest.java
  konfigyr-data/src/main/java/com/konfigyr/jooq/SettableRecord.java
  konfigyr-data/src/test/java/com/konfigyr/jooq/SettableRecordTest.java
  konfigyr-namespace/src/main/java/com/konfigyr/account/DefaultAccountManager.java
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/DefaultNamespaceManager.java
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/NamespaceManagementAutoConfiguration.java
  konfigyr-namespace/src/test/java/com/konfigyr/account/AccountManagerTest.java
  konfigyr-namespace/src/test/java/com/konfigyr/namespace/NamespaceManagerTest.java
Due: API, Namespaces

Update tests
  konfigyr-api/src/main/java/com/konfigyr/account/AccountExistsException.java
  konfigyr-api/src/main/java/com/konfigyr/namespace/NamespaceOwnerException.java
  konfigyr-api/src/test/java/com/konfigyr/account/AccountTest.java
  konfigyr-api/src/test/java/com/konfigyr/entity/EntityEventTest.java
  konfigyr-api/src/test/java/com/konfigyr/namespace/NamespaceTest.java
Due: API

Cover runtime exceptions
  konfigyr-namespace/src/main/java/com/konfigyr/namespace/DefaultNamespaceManager.java
  konfigyr-namespace/src/test/java/com/konfigyr/namespace/NamespaceManagerTest.java
Due: Namespaces
